@font-face { font-family: 'Source Code Pro', monospace; }

html * {
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
}

html, body {
    background: #232323;
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column;
}

main {
    flex: 1 1 auto;
    background-color: #121212;
}

header {
    padding: 20px;
}

.request {
    flex: 1;
    border-right: 1px solid #383838;
    padding: 0 24px;
    height: 100%;
}

.response {
    flex: 1;
    height: 100%;
    border-left: 1px solid #383838;
    padding: 0 24px;
}

textarea {
    width: 100%;
    margin: 0;
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
    border: 0;
    resize: none;
}

.cell {
    height: 2.3rem;
    flex: 1;
    padding: 0 5px;
    border: 1px solid #383838;
}

#send {
    margin-top: 8px;
}

#logo {
    width: 200px;
}

#url {
    width: 100%;
}

.horizontal-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.vertical-flex {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.control {
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
}

.scroll-y {
    overflow-y: scroll;
}

.padding {
    padding: 2px;
}

.headers {
    height: 30vh;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.dialog {
    width: 75%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.progress-bar {
    background: linear-gradient(90deg, rgba(0, 171, 255, 0) 5%, #00ABFF 46.86%, rgba(0, 171, 255, 0) 97%);
    height: 8px;
    border-radius: 10px;
    width: 30vw;
    margin: auto 10vw;

    animation-duration: 0.75s;
    animation-name: progress-bar;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes progress-bar {
    from {
        margin-left: 10vw;
    }

    to {
        margin-left: 60vw;
    }
}

::placeholder {
    color: white;
}

.align-start {
    align-items: start;
}

.outer-box {
    margin: 1vh 1vh;
}

.custom-control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1px 2px;
}

.dropdown {
    background: linear-gradient(180deg, #1E1E1E 0%, #2E2E2E 100%);
    box-shadow: -2px -2px 1px 0 #2C2C2C inset, 2px 2px 1px 0 #2C2C2C inset, 2px 0 3px 0 #00000033;
    padding: 5px 16px;
    border-radius: 4px;
    position: relative;
}

.dropdown-menu {
    background: linear-gradient(0deg, #1E1E1E, #1E1E1E), linear-gradient(0deg, #383838, #383838);
    border: 1px solid #383838;
    box-shadow: 4px 4px 4px 0 #0000004D;
    display: none;
    padding: 0 16px;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: unset;
}

.dropdown-item {
    border-bottom: 1px solid #383838;
    margin: 4px 0;
}

.dropdown-menu-visible {
    display: inline-block;
}

/*Span is used to show verb. Longest verb is 6 characters - delete*/
.dropdown-button > span, .dropdown-menu > .horizontal-flex > span {
    width: 6ch;
}

input, textarea {
    border: 4px solid #2C2C2C;
    background: linear-gradient(0deg, #1E1E1E, #1E1E1E), linear-gradient(0deg, #383838, #383838);
    padding: 4px;
}

.button {
    border-radius: 4px;
    border: 4px solid #2C2C2C;
    box-shadow: 2px 2px 2px 0 #00ABFF;
    padding: 4px 12px;
    background-color: #232323;
}

.tab-bar {
    font-size: 1rem;
}

.tab-item {
    padding: 4px 8px;
    margin: 0 8px;
}

.tab-item-selected {
    border-bottom: 2px solid #00ABFF;
}

.table {
    overflow-y: scroll;
    /*If top is > 0, the content scrolls more than the sticky headers*/
    padding: 0 2px 2px;
    background: linear-gradient(0deg, #1E1E1E, #1E1E1E), linear-gradient(0deg, #383838, #383838);
    flex: 1;
}

.no-margin {
    margin: 0;
}

.response-attribute {
    margin: 0 4px;
}

.response-value {
    margin: 0 4px;
    color: #00ABFF;
}

.response-metric {
    margin: 0 8px;
}

.overflow {
    height: 100%;
}

.key-value {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
}

.invisible {
    display: none;
}

.w50 {
    min-width: 50%;
}

span.cell {
    padding: 2px;
}

.count {
    color: #00ABFF;
}

.fill-height {
    height: 100%;
}

.fill-width {
    width: 100%;
}

.table-head {
    position: sticky;
    top: 0;
    color: #00ABFF;
    text-align: center;
    background: linear-gradient(0deg, #1E1E1E, #1E1E1E), linear-gradient(0deg, #383838, #383838);
    font-size: 1.2rem;
    height: 2.4rem;
}

